{% extends "todoboard/base.html" %}
{% block content %}
    <div class="container">
        {% if boards.author == user %} <!-- If owner, show the add user button -->
            <div class="row">
                <div class="col">
                    <form action="add-user/" method="post">
                        {% csrf_token %}
                        <input class="form-control" type="text" placeholder="Username" name="shared_user">
                        <button type="submit" class="btn btn-primary">Add By Username</button>
                    </form>
                </div>

                <div class="col">
                    <form action="add-user-email/" method="post">
                        {% csrf_token %}
                        <input class="form-control" type="text" placeholder="Email" name="shared_user_email">
                        <button type="submit" class="btn btn-primary">Add By Email</button>
                    </form>
                </div>
            </div>
        {% endif %}


        {% for shared_user in shared_users %}
            {% if shared_user.shared_author == user %} <!-- If shared user, show the board -->
                {% include 'todoboard/board_detail_block.html' %}
            {% endif %}
        {% endfor %}

        {% if boards.author == user %} <!--If owner, show the board and delete button -->
            {% include 'todoboard/board_detail_block.html' %}
            <h6>Delete this board</h6>
            <a href="{% url 'board-delete' boards.id %}" class="btn btn-danger" role="button"
               aria-pressed="true">Delete</a>
            <br>
        {% endif %}


        <hr>
        <h6>Don't see anything? You may be logged out or denied access to this board, <a
                href="{% url 'login' %}">login
            page </a> to access your boards.</h6>
    </div>
{% endblock content %}