{% extends "todoboard/base.html" %}
{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <br>
            <h2>Are you sure you want to delete "{{ object.title }}"? It will be deleted <u>permanently.</u></h2>
            <hr>
            <button type="submit" class="btn btn-danger">Delete Board</button>
            <a href="{% url 'board-detail' object.id %}" class="btn btn-secondary" role="button" aria-pressed="true">Cancel</a>


        </form>
    </div>
{% endblock content %}