<br>

{% if user == boards.author %}
<div class="row form-inline">
    <div class="col form-inline">
        <h1 style="margin-right: 20px;">{{ boards.title }}</h1>
        <form class="form-inline" action="rename/" method="post">
            {% csrf_token %}
            <input class="form-control" type="text" placeholder="Name" name="board_title">
            <button type="submit" class="btn btn-primary">Rename</button>
        </form>
    </div>
</div>
{% else %}
    <h1>{{ boards.title }}</h1>
{% endif %}

<div class="row shadow-sm">
    <div class="col">
        <h3>Owner: {{ boards.author }}, Email: <a
                href="mailto:{{ boards.author.email }}"> {{ boards.author.email }}</a>
        </h3>
    </div>
</div>
<hr>
<h3>Shared Users:</h3>

{% for shared_user in shared_users %}
    <div class="row shadow-sm">

        <div class="col">
            <h4>Username: {{ shared_user.shared_author.username }}, Email: <a
                    href="mailto:{{ shared_user.shared_author.email }}"> {{ shared_user.shared_author.email }}</a>
            </h4>
            {% if user == boards.author %}
                </div>
                <div class="col">
                <form action="remove-user/{{ shared_user.id }}/" method="post" class="float-right">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove</button>
                </form>
            {% endif %}
            </div>
    </div>
    <br>
{% endfor %}

<br>
<form action="create-item/" method="post">
    {% csrf_token %}

    <h2>Create an item</h2>
    <input class="form-control" type="text" placeholder="Title" name="title">
    <label for="exampleFormControlTextarea1">Content (optional)</label>
    <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

    <button type="submit" class="btn btn-success float-right">Create</button>
</form>
<br>
<h1>Items:</h1>

{% for item in items %}

    <div class="row shadow-sm">
        <div class="col">

            <h2>{{ item.title }}</h2>
            <p style="font-size: 20px;">{{ item.content }}</p>
            <p>By: {{ item.author.username }}, Created: {{ item.date_posted }}</p>

        </div>
        <div class="col">
            <form action="delete-item/{{ item.id }}/" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger float-right">Delete Item</button>
            </form>

        </div>

    </div>
{% endfor %}
<br>