{% extends "todoboard/base.html" %}
{% block content %}

    {% if user.is_authenticated %}
        <div class="container">
        <br>
            <div class="row shadow-sm">
                <div class="col-4">
                    <h2>Create A Board</h2>
                </div>
                <div class="col-8">

                    <form action="create-board/" method="post" class="form-inline">
                        {% csrf_token %}
                        <input class="form-control" type="text" placeholder="Title" name="title">

                        <button type="submit" class="btn btn-success float-right">Create</button>
                    </form>

                </div>
            </div>
            <br>
            <h1>Your Boards</h1>
        {% for board in boards %}
            <div class="row shadow-sm">
                <div class="col">
                    <h3>{{ board.title }}</h3>
                </div>
                <div class="col">

                    <a href="{% url 'board-detail' board.id %}" class="btn btn-success" role="button" aria-pressed="true">Open</a>

                </div>
                <div class="col">

                </div>
            <div class="col">
                <a href="{% url 'board-delete' board.id %}" class="btn btn-danger" role="button" aria-pressed="true" style="float:right;">Delete</a>
            </div>

            </div>
        {% endfor %}
        <br>
        <h1>Shared Boards: </h1>
         {% for shared_user in shared_users %}
        <div class="row shadow-sm">
                <div class="col">
                    <h3>{{ shared_user.board.title }}</h3>
                </div>
                <div class="col">

                    <a href="{% url 'board-detail' shared_user.board.id %}" class="btn btn-success" role="button" aria-pressed="true">Open</a>

                </div>
                <div class="col">

                </div>
            <div class="col">
            </div>

            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="container">
        <br>
        <h1>Register Or Log In To Use Twizzle!</h1>
        <br>
        <a href="{% url 'login' %}" class="btn btn-primary" role="button" aria-pressed="true">Login</a>
        <a href="{% url 'register' %}" class="btn btn-primary" role="button" aria-pressed="true">Register</a>
        <hr>
        <h3>What is Twizzle?</h3>
        <p class="text-wrap">Twizzle is a to-do app, where you can create boards and items! Have different boards for different projects, and manage your tasks effectively!</p>
        </div>

    {% endif %}
{% endblock content %}